<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Se connecter</title>
        <h:outputStylesheet library="css" name="template/coreui-icons.min.css"  />
        <h:outputStylesheet library="css" name="template/flag-icon.min.css"  />
        <h:outputStylesheet library="css" name="template/simple-line-icons.css"  />
        <h:outputStylesheet library="css" name="template/style.min.css"  />
    </h:head>
    <h:body class="app flex-row align-items-center">
        <h:form class="col-md-12">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card-group">
                            <div class="card p-4">
                                <div class="card-body">
                                    <h1>Se Connecter</h1>
                                    <p class="text-muted">Renseigner vos informations</p>
                                    <h:messages globalOnly="true" errorClass="text-danger" />
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-user"></i>
                                            </span>
                                        </div>
                                        <h:inputText class="form-control" id="name" value="#{loginMBean.name}" title="name" a:placeholder="Nom"/>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-lock"></i>
                                            </span>
                                        </div>
                                        <h:inputSecret class="form-control" id="password" value="#{loginMBean.password}" title="password" a:placeholder="Mot de passe"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h:commandButton class="btn btn-primary px-4" id="connecter" value="Connecter" action="#{loginMBean.seConnecter()}"/> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                                <div class="card-body text-center">
                                    <div>
                                        <h2>Bienvenue</h2>
                                        <p>Notre banque vous souhaite la bienvenue sur notre gestionnaire de compte bancaire.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
        <h:outputScript library="javascript" name="template/jquery.min.js" />
        <h:outputScript library="javascript" name="template/bootstrap.min.js" />
        <h:outputScript library="javascript" name="template/coreui.min.js" />
    </h:body>
</html>

