<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <body>

        <ui:composition template="../../templates/template_default.xhtml">

            <ui:define name="content">
                <h1>Mes comptes bancaires </h1>
                <f:view>
                    <h:form id="form">
                        <p>
                            Cliquez sur une ligne d'un compte bancaire pour afficher les opérations bancaires et les co-propriétaires de ce dernier.
                        </p>
                        <p:dataTable paginator="true" rows="10" value="#{compteBancaireMBean.lazyModel}" var="item"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15" id="compteBancaireTable" lazy="true"
                                     selectionMode="single" selection="#{compteBancaireMBean.selectedCompteBancaire}">
                            <p:ajax event="rowSelect" listener="#{compteBancaireMBean.onRowSelect}" update=":form:compteBancaireDetails" oncomplete="PF('compteBancaireDialog').show()" />
                            <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>

                            <p:column sortBy="#{item.solde}" filterBy="#{item.solde}">
                                <f:facet name="header">
                                    <h:outputText value="Solde"/>
                                </f:facet>
                                <h:outputText value="#{item.solde}"/>
                            </p:column>
                        </p:dataTable>
                        <p:dialog header="Compte Bancaire : Détails" widgetVar="compteBancaireDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="50%" height="500px">
                            <p:outputPanel id="compteBancaireDetails" style="text-align:center;">

                                <h2>Liste des opérations</h2>
                                <p:dataTable paginator="true" rows="10" value="#{compteBancaireMBean.selectedCompteBancaire.sesOperations}" var="item"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                             rowsPerPageTemplate="5,10,15" id="listOperations"
                                             >
                                    <p:column sortBy="#{item.createdAt}" filterBy="#{item.createdAt}">
                                        <f:facet name="header">
                                            <h:outputText value="Date"/>
                                        </f:facet>
                                        <h:outputText value="#{item.createdAt}">
                                            <f:converter converterId="localDateTimeConverter" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column sortBy="#{item.typeOperation}" filterBy="#{item.typeOperation}">
                                        <f:facet name="header">
                                            <h:outputText value="Type opération"/>
                                        </f:facet>
                                        <h:outputText value="#{item.typeOperation}"/>
                                    </p:column>
                                    <p:column sortBy="#{item.montant}" filterBy="#{item.montant}">
                                        <f:facet name="header">
                                            <h:outputText value="Type opération"/>
                                        </f:facet>
                                        <h:outputText value="- " rendered="#{item.typeOperation == 'DEBIT'}"/>
                                        <h:outputText value="#{item.montant}"/>
                                    </p:column>
                                </p:dataTable>

                                <h2>Liste des co-propriétaire</h2>
                                <p:dataTable paginator="true" rows="10" value="#{compteBancaireMBean.selectedCompteBancaire.coProprietaires}" var="item"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                             rowsPerPageTemplate="5,10,15" id="listCoProprietaire"
                                             >
                                    <p:column filterBy="#{item.id}">
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.id}"/>
                                    </p:column>
                                    <p:column filterBy="#{item.nom}">
                                        <f:facet name="header">
                                            <h:outputText value="Nom"/>
                                        </f:facet>
                                        <h:outputText value="#{item.nom}"/>
                                    </p:column>
                                    <p:column filterBy="#{item.prenom}">
                                        <f:facet name="header">
                                            <h:outputText value="Prenom"/>
                                        </f:facet>
                                        <h:outputText value="#{item.prenom}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Action"/>
                                        </f:facet>
                                        <p:commandButton icon="ui-icon-trash"
                                                         update=":form:listCoProprietaire"
                                                         title="Supprimer des co-propriétaires"
                                                         actionListener="#{compteBancaireMBean.supprimerCoProprietaire(item, compteBancaireMBean.selectedCompteBancaire)}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:dialog>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>

    </body>
</html>
