<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="../../templates/template_default.xhtml">

            <ui:define name="metadata">
                <f:metadata>  
                    <f:viewParam name="idCompteBancaire" value="#{actionCompteBancaireMBean.idCompteBancaire}"  
                                 required="true"/>  
                    <f:viewAction action="#{actionCompteBancaireMBean.loadCompteBancaire}"/>
                </f:metadata>  
            </ui:define>

            <ui:define name="content">
                <h1>Ajouter/Retirer de l'argent du compte : #{actionCompteBancaireMBean.compteBancaire.id}</h1>
                <h:messages globalOnly="true" errorClass="text-danger" infoClass="text-success"/>
                <h:form>
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label for="nbAjout">Ajouter de l'argent : </label>
                            <h:inputText id="nbAjout" class="form-control" value="#{actionCompteBancaireMBean.nbAjout}" />
                        </div>
                        <div class="form-group">
                            <label for="nbRetirer">Retirer de l'argent : </label>
                            <h:inputText id="nbRetirer" class="form-control" value="#{actionCompteBancaireMBean.nbRetirer}" />
                        </div>
                        <h:commandButton id="update" class="btn btn-success mr-2" value="Mettre à jour" action="#{actionCompteBancaireMBean.update}"/>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
