<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <body>
        <ui:composition template="./../../templates/template_default.xhtml">

            <ui:define name="metadata">
                <f:metadata>  
                    <f:viewParam name="idPersonne" value="#{ajoutPersonneMBean.idPersonne}"/>  
                    <f:viewAction action="#{ajoutPersonneMBean.loadPersonne}"/>  
                </f:metadata>  
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h1><h:outputText value="Ajout/Édition d'une personne"/></h1>
                    <h:messages globalOnly="true" errorClass="text-danger" infoClass="text-success"/>
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label for="nom">Nom:</label>
                            <h:inputText id="nom" value="#{ajoutPersonneMBean.nouvellePersonne.nom}" 
                                         title="nom" class="form-control" required="true" 
                                         requiredMessage="Nom requis"/>
                            <h:message for="nom" errorClass="text-danger" />
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom:</label>
                            <h:inputText id="prenom" value="#{ajoutPersonneMBean.nouvellePersonne.prenom}" 
                                         title="prenom" class="form-control" required="true" 
                                         requiredMessage="Prénom requis"/>
                            <h:message for="prenom" errorClass="text-danger" />
                        </div>
                        <div class="form-group">
                            <label for="motDePasse">Mot de passe:</label>
                            <h:inputSecret id="motDePasse" value="#{ajoutPersonneMBean.nouvellePersonne.motDePasse}" 
                                           title="motDePasse" class="form-control" required="true" 
                                           requiredMessage="Mot de passe requis"/>
                            <h:message for="motDePasse" errorClass="text-danger" />
                        </div>
                        <div class="form-group">
                            <label for="adresseMail">Email:</label>
                            <h:inputText id="adresseMail" value="#{ajoutPersonneMBean.nouvellePersonne.adresseMail}" title="adresseMail" 
                                         class="form-control" 
                                         required="true" requiredMessage="Adresse mail requis"
                                         validatorMessage="Adresse mail invalide">
                                <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                            </h:inputText>
                            <h:message for="adresseMail" errorClass="text-danger" />
                        </div>
                        <div class="form-group">
                            <label for="adresse">Adresse:</label>
                            <h:inputText id="adresse" value="#{ajoutPersonneMBean.nouvellePersonne.adresse}" 
                                         title="adresse" class="form-control" required="true" 
                                         requiredMessage="Adresse requis"/>
                            <h:message for="adresse" errorClass="text-danger" />
                        </div>
                        <div class="form-group">
                            <label for="ville">Ville:</label>
                            <h:inputText id="ville" value="#{ajoutPersonneMBean.nouvellePersonne.ville}" 
                                         title="ville" class="form-control" required="true" 
                                         requiredMessage="Ville requis"/>
                            <h:message for="ville" errorClass="text-danger" />
                        </div>
                        <c:if test='${ajoutPersonneMBean.idPersonne == null and utilisateur.hasRole("Administrateur")}'>
                            <div class="form-group">
                                <label for="role">Rôle:</label>
                                <h:selectOneMenu class="form-control"  value="#{ajoutPersonneMBean.role}"   
                                                 title="Type" required="true" requiredMessage="Type requis">   
                                    <f:selectItems value="#{constantMBean.roleValues}"  
                                                   var="item"   
                                                   itemLabel="#{item}" itemValue="#{item}" />  
                                </h:selectOneMenu> 
                            </div>
                        </c:if>
                        <c:if test='${ajoutPersonneMBean.idPersonne == null}'>
                            <h:commandButton value="Créer" class="btn btn-success mr-2" action="#{ajoutPersonneMBean.creerPersonne}"/> 
                        </c:if>
                        <c:if test="${ajoutPersonneMBean.idPersonne != null}">
                            <h:commandButton value="Modifier" class="btn btn-success mr-2" action="#{ajoutPersonneMBean.modifierPersonne}"/> 
                        </c:if>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
