<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="../../templates/template_default.xhtml">

            <ui:define name="content">
                <h1>Transfert</h1>
                <h:messages globalOnly="true" errorClass="text-danger" />
                <h:form>
                    <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label for="srcComptebancaire">Transfert du compte : </label>
                            <h:selectOneMenu class="form-control" id="srcCompteBancaire" value="#{transfertCompteBancaireMBean.srcCompteBancaire}"   
                                             title="DiscountCode" required="true" requiredMessage="Source Compte Bancaire est indispensable" 
                                             converter="#{transfertCompteBancaireMBean.compteBancaireConverter}">   
                                <f:selectItems value="#{transfertCompteBancaireMBean.srcListCompteBancaire}"  
                                               var="item"   
                                               itemLabel="#{item.id}" itemValue="#{item}" />  
                            </h:selectOneMenu>
                        </div>
                        <div class="form-group">
                            <label for="destComptebancaire">au compte : </label>
                            <h:selectOneMenu class="form-control" id="destCompteBancaire" value="#{transfertCompteBancaireMBean.destCompteBancaire}"   
                                             title="DiscountCode" required="true" requiredMessage="Source Compte Bancaire est indispensable" 
                                             converter="#{transfertCompteBancaireMBean.compteBancaireConverter}">   
                                <f:selectItems value="#{transfertCompteBancaireMBean.destListCompteBancaire}"  
                                               var="item"   
                                               itemLabel="#{item.id}" itemValue="#{item}" />  
                            </h:selectOneMenu>
                        </div>
                        <div class="form-group">
                            <label for="montant">Montant du transfert :</label>
                            <h:inputText class="form-control" id="montant" value="#{transfertCompteBancaireMBean.montant}" />
                            <h:message id="montantMessage" for="montant" errorClass="text-danger" />
                        </div>
                        <h:commandButton id="transfert" class="btn btn-success mr-2" value="Transfert" action="#{transfertCompteBancaireMBean.transfert}"/>
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
