<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../templates/template_default.xhtml">

            <ui:define name="content">
                <h1> Mes clients </h1>
                <p>
                    Cliquez sur une ligne d'un client pour afficher ses comptes bancaires
                </p>
                <f:view>
                    <h:form id="form">
                        <p:dataTable paginator="true" rows="10" value="#{clientMBean.lazyModel}" var="item"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15"  lazy="true" id='clientTable'
                                     selectionMode="single" selection="#{clientMBean.selectedClient}"
                                     >
                            <p:ajax event="rowSelect" listener="#{clientMBean.onRowSelect}" update=":form:clientDetails" oncomplete="PF('clientDialog').show()" />
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Adresse"/>
                                </f:facet>
                                <h:outputText value="#{item.adresse}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Ville"/>
                                </f:facet>
                                <h:outputText value="#{item.ville}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="AdresseMail"/>
                                </f:facet>
                                <h:outputText value="#{item.adresseMail}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Action"/>
                                </f:facet>
                                <p:button icon="ui-icon-pencil"
                                          title="Modifier"
                                          outcome="#{personneMBean.showEditPersonne(item.id)}"/>
                                <p:commandButton icon="ui-icon-trash"
                                                 title="Supprimer ce compte"
                                                 actionListener="#{personneMBean.supprimerPersonne(item)}"
                                                 update=':form:clientTable' />
                            </p:column>
                        </p:dataTable>
                        <p:dialog header="Détails du clients" widgetVar="clientDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="true" width="50%">
                            <p:outputPanel id="clientDetails" style="text-align:center;">
                                <h2>Sa carte d'identitée</h2>
                                Identifiant: #{clientMBean.selectedClient.saCarte.identifiantNational}<br/>
                                Date de naissance: #{clientMBean.selectedClient.saCarte.dateNaissance}
                                <h2>Ses comptes bancaires</h2>
                                <p>
                                    Cliquez sur une ligne d'un compte bancaire pour afficher ses opérations bancaires 
                                </p>
                                <p:dataTable paginator="true" rows="10" value="#{clientMBean.selectedClient.sesComptesBancaires}" var="item"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                             rowsPerPageTemplate="5,10,15" id="listCompteBancaire" rowKey="#{item}"
                                             selectionMode="single" selection="#{clientMBean.selectedCompteBancaire}"
                                             >
                                    <p:ajax event="rowSelect" update=":form:compteBancaireDetails" oncomplete="PF('compteBancaireDialog').show()" />
                                    <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.id}"/>
                                    </p:column>
                                    <p:column sortBy="#{item.solde}" filterBy="#{item.solde}">
                                        <f:facet name="header">
                                            <h:outputText value="Solde"/>
                                        </f:facet>
                                        <h:outputText value="#{item.solde}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Action"/>
                                        </f:facet>
                                        <p:button outcome="#{compteBancaireMBean.showActionCompteBancaire(item.id)}" 
                                                  icon="ui-icon-transfer-e-w"
                                                  title="Ajouter ou retirer de l'argent"/>
                                        <p:commandButton icon="ui-icon-trash"
                                                         title="Supprimer ce compte"
                                                         actionListener="#{compteBancaireMBean.deleteCompteBancaire(item)}"
                                                         update=':form:listCompteBancaire'/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:dialog>
                        <p:dialog header="Compte Bancaire : Détails" widgetVar="compteBancaireDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="50%" height="500px">
                            <p:outputPanel id="compteBancaireDetails" style="text-align:center;">
                                
                                <h2>Liste des opérations</h2>
                                <p:dataTable paginator="true" rows="10" value="#{clientMBean.selectedCompteBancaire.sesOperations}" var="item"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                             rowsPerPageTemplate="5,10,15" id="listOperations"
                                             >
                                    <p:column sortBy="#{item.createdAt}" filterBy="#{item.createdAt}">
                                        <f:facet name="header">
                                            <h:outputText value="Date"/>
                                        </f:facet>
                                        <h:outputText value="#{item.createdAt}">
                                            <f:converter converterId="localDateTimeConverter" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column sortBy="#{item.typeOperation}" filterBy="#{item.typeOperation}">
                                        <f:facet name="header">
                                            <h:outputText value="Type opération"/>
                                        </f:facet>
                                        <h:outputText value="#{item.typeOperation}"/>
                                    </p:column>
                                    <p:column sortBy="#{item.montant}" filterBy="#{item.montant}">
                                        <f:facet name="header">
                                            <h:outputText value="Montant"/>
                                        </f:facet>
                                        <h:outputText value="- " rendered="#{item.typeOperation == 'DEBIT'}"/>
                                        <h:outputText value="#{item.montant}"/>
                                    </p:column>
                                </p:dataTable>
                                
                                <h2>Liste des co-propriétaire</h2>
                                <p:dataTable paginator="true" rows="10" value="#{clientMBean.selectedCompteBancaire.coProprietaires}" var="item"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                             rowsPerPageTemplate="5,10,15" id="listCoProprietaire"
                                             >
                                    <p:column filterBy="#{item.id}">
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.id}"/>
                                    </p:column>
                                    <p:column filterBy="#{item.nom}">
                                        <f:facet name="header">
                                            <h:outputText value="Nom"/>
                                        </f:facet>
                                        <h:outputText value="#{item.nom}"/>
                                    </p:column>
                                    <p:column filterBy="#{item.prenom}">
                                        <f:facet name="header">
                                            <h:outputText value="Prenom"/>
                                        </f:facet>
                                        <h:outputText value="#{item.prenom}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Action"/>
                                        </f:facet>
                                        <p:commandButton icon="ui-icon-trash"
                                                         update=":form:listCoProprietaire"
                                                         title="Supprimer des co-propriétaires"
                                                         actionListener="#{compteBancaireMBean.supprimerCoProprietaire(item,clientMBean.selectedCompteBancaire)}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:dialog>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>

    </body>
</html>
