<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>

        <ui:composition template="../../templates/template_default.xhtml">

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Create/Edit"/></h1>
                        <h:messages globalOnly="true" errorClass="text-danger" infoClass="text-success"/>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="proprietaire">Propriétaire:</label>
                                <h:selectOneMenu class="form-control" id="proprietaire" value="#{ajoutCompteBancaireMBean.compteBancaire.proprietaire}"   
                                                 title="Proprietaire" required="true" requiredMessage="The Proprietaire field is required."  
                                                 converter="#{ajoutCompteBancaireMBean.clientConverter}">   
                                    <f:selectItems value="#{ajoutCompteBancaireMBean.allClients}"  
                                                   var="item"   
                                                   itemLabel="#{item.id}" itemValue="#{item}" />  
                                </h:selectOneMenu> 
                            </div>
                            <div class="form-group">
                                <label for="solde">Solde:</label>
                                <h:inputText id="solde" value="#{ajoutCompteBancaireMBean.compteBancaire.solde}" class="form-control" title="Solde" />
                            </div>
                        </div>
                        
                        <h:commandButton id="update" class="btn btn-success mr-2" value="Créer" action="#{ajoutCompteBancaireMBean.create}"/>  
                    </h:form>
                </f:view>

            </ui:define>

        </ui:composition>

    </body>
</html>
