<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../templates/template_default.xhtml">

            <ui:define name="content">
                <h1>Liste des clients</h1>
                <p>
                    Cliquez sur une ligne d'un client pour afficher ses comptes bancaires
                </p>
                <f:view>
                    <h:form id="form">
                        <p:dataTable paginator="true" rows="10" value="#{clientMBean.lazyModel}" var="item"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15" id="clientTable" lazy="true"
                                     selectionMode="single" selection="#{clientMBean.selectedClient}"
                                     >
                            <p:ajax event="rowSelect" listener="#{clientMBean.onRowSelect}" update=":form:clientDetails" oncomplete="PF('clientDialog').show()" />
                            <p:column filterBy="#{item.id}">
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column filterBy="#{item.nom}">
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column filterBy="#{item.prenom}">
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            <p:column filterBy="#{item.sonConseiller.nom}">
                                <f:facet name="header">
                                    <h:outputText value="Conseiller"/>
                                </f:facet>
                                <h:outputText value="#{item.sonConseiller.nom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Action"/>
                                </f:facet>
                                <p:commandButton icon="ui-icon-arrowstop-1-w"
                                                 title="Assigner un conseiller"
                                                 action="#{clientMBean.setCibleAssignConseiller(item)}"
                                                 oncomplete="PF('assignerConseiller').show()"
                                                 update=":form:assignerConseiller"
                                                 />
                                <p:button icon="ui-icon-pencil"
                                          title="Modifier"
                                          outcome="#{personneMBean.showEditPersonne(item.id)}"/>
                                <p:commandButton icon="ui-icon-trash"
                                                 title="Supprimer ce compte"
                                                 actionListener="#{personneMBean.supprimerPersonne(item)}"
                                                 update=':form:clientTable'/>
                            </p:column>
                        </p:dataTable>
                        <p:dialog header="Détails du clients" widgetVar="clientDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="true" width="50%">
                            <p:outputPanel id="clientDetails" style="text-align:center;">
                                <h2>Sa carte d'identitée</h2>
                                Identifiant: #{clientMBean.selectedClient.saCarte.identifiantNational}<br/>
                                Date de naissance: #{clientMBean.selectedClient.saCarte.dateNaissance}
                                <h2>Ses comptes bancaires</h2>
                                <p:dataTable paginator="true" rows="10" value="#{clientMBean.selectedClient.sesComptesBancaires}" var="item"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                             rowsPerPageTemplate="5,10,15" id="listCompteBancaire"
                                             >
                                    <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.id}"/>
                                    </p:column>
                                    <p:column sortBy="#{item.solde}" filterBy="#{item.solde}">
                                        <f:facet name="header">
                                            <h:outputText value="Solde"/>
                                        </f:facet>
                                        <h:outputText value="#{item.solde}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:dialog>

                        <!-- Assigner un conseiller -->
                        <p:dialog header="Assigner un conseiller" widgetVar="assignerConseiller" modal="true" showEffect="fade" hideEffect="fade" resizable="true" width="50%">
                            <p:outputPanel id="assignerConseiller" style="text-align:center;" class="col-md-12">
                                <h1><h:outputText value="Assigner un conseiller au client : #{clientMBean.cibleAssignConseiller.nomComplet}"/></h1>
                                <div class="col-md-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="conseiller">Conseiller:</label>
                                        <h:selectOneMenu class="form-control"  id="conseiller" value="#{clientMBean.selectedConseiller}"   
                                                         title="Conseiller" required="true" requiredMessage="Le champs 'Conseiller' est requis."  
                                                         converter="#{clientMBean.conseillerConverter}">   
                                            <f:selectItems value="#{clientMBean.listConseiller}"  
                                                           var="item"   
                                                           itemLabel="#{item.id}" itemValue="#{item}" />  
                                        </h:selectOneMenu>
                                    </div> 
                                </div>
                                <p:commandButton update=":form:clientTable" value="Assigner" action="#{clientMBean.assignerConseiller()}" oncomplete="PF('assignerConseiller').hide()"/>
                            </p:outputPanel>
                        </p:dialog>
                    </h:form>
                </f:view>
            </ui:define>

        </ui:composition>

    </body>
</html>
