<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../templates/template_default.xhtml">

            <ui:define name="content">
                <h1>Liste des conseillers</h1> 
                <p>
                    Cliquez sur une ligne d'un conseiller pour afficher les clients qui lui sont attribués
                </p>
                <f:view>
                    <h:form id="form">
                        <p:dataTable paginator="true" rows="10" value="#{conseillerMBean.lazyModel}" var="item"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15" id="conseillerTable" lazy="true"
                                     selectionMode="single" selection="#{conseillerMBean.selectedConseiller}"
                                     >
                            <p:ajax event="rowSelect" listener="#{conseillerMBean.onRowSelect}" update=":form:conseillerDetails" oncomplete="PF('conseillerDialog').show()" />
                            <p:column filterBy="#{item.id}">
                                <f:facet name="header">
                                    <h:outputText value="Id"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column filterBy="#{item.nom}">
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column filterBy="#{item.prenom}">
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Action"/>
                                </f:facet>
                                <p:button icon="ui-icon-pencil"
                                          title="Modifier"
                                          outcome="#{personneMBean.showEditPersonne(item.id)}"/>
                                <p:commandButton icon="ui-icon-trash"
                                                 title="Supprimer ce compte"
                                                 actionListener="#{conseillerMBean.supprimerConseiller(item)}"
                                                 update=':form:conseillerTable'/>
                            </p:column>
                        </p:dataTable>
                        <p:dialog header="Détails du conseiller" widgetVar="conseillerDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="true" width="50%">
                            <p:outputPanel id="conseillerDetails" style="text-align:center;">
                                <p:dataTable paginator="true" rows="10" value="#{conseillerMBean.selectedConseiller.sesClients}" var="item"
                                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                             rowsPerPageTemplate="5,10,15" id="listClient"
                                             >
                                    <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.id}"/>
                                    </p:column>
                                    <p:column sortBy="#{item.nom}" filterBy="#{item.nom}">
                                        <f:facet name="header">
                                            <h:outputText value="Nom"/>
                                        </f:facet>
                                        <h:outputText value="#{item.nom}"/>
                                    </p:column>
                                    <p:column sortBy="#{item.prenom}" filterBy="#{item.prenom}">
                                        <f:facet name="header">
                                            <h:outputText value="Prénom"/>
                                        </f:facet>
                                        <h:outputText value="#{item.prenom}"/>
                                    </p:column>


                                </p:dataTable>
                            </p:outputPanel>
                        </p:dialog>
                    </h:form>
                </f:view>
            </ui:define>

        </ui:composition>

    </body>
</html>
