<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:t="http://xmlns.jcp.org/jsf/component"
      xmlns:p="http://primefaces.org/ui">
    <ui:insert name="metadata"/>
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Gestionnaire de compte bancaire</title>
        <h:outputStylesheet library="css" name="flat_template/style.css"  />
        <h:outputStylesheet library="css" name="flat_template/materialdesignicons.min.css"  />
        <h:outputStylesheet library="css" name="flat_template/vendor.bundle.addons.css"  />
        <h:outputStylesheet library="css" name="flat_template/vendor.bundle.base.css"  />
    </h:head>

    <h:body>

        <div class="container-scroller">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                    <a class="navbar-brand brand-logo" href="#">
                        <p:graphicImage library="image" name="mbds_logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="#">
                        <p:graphicImage library="image" name="mbds_logo" />
                    </a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center">
                    <c:if test="${utilisateur.hasRole('Client')}">
                        <span class="profile-text"><i class="mdi mdi-account-location"></i> Votre conseiller: ${(utilisateur.sonConseiller != null)?utilisateur.sonConseiller.getNomComplet():"Non attribué"}</span>
                    </c:if>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item nav-profile">
                            <div class="nav-link">
                                <div class="user-wrapper">
                                    <div class="text-wrapper">
                                        <p class="profile-name">${utilisateur.getNomComplet()}</p>
                                        <div>
                                            <small class="designation text-muted">${utilisateur.getClass().getSimpleName()}</small>
                                        </div>
                                    </div>
                                </div>
                                <h:form>
                                    <h:commandLink action="#{loginMBean.seDeconnecter()}" style="text-decoration:none;">
                                        <button class="btn btn-danger btn-block"> Se déconnecter
                                            <i class="mdi mdi-logout"></i>
                                        </button>
                                    </h:commandLink>
                                </h:form>
                            </div>
                        </li>

                        <c:if test="${utilisateur.hasRole('Administrateur')}">
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/admin/CompteBancaireList.xhtml">
                                    <i class="menu-icon mdi mdi-format-list-bulleted"></i>
                                    <span class="menu-title">Liste des comptes</span>
                                </h:link>
                            </li>
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/admin/ConseillerList.xhtml" >
                                    <i class="menu-icon mdi mdi-format-list-bulleted"></i>
                                    <span class="menu-title">Liste des conseillers</span>
                                </h:link>
                            </li>
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/admin/ClientList.xhtml" >
                                    <i class="menu-icon mdi mdi-format-list-bulleted"></i>
                                    <span class="menu-title">Liste des clients</span>
                                </h:link>
                            </li>
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/admin/AdministrateurList.xhtml" >
                                    <i class="menu-icon mdi mdi-format-list-bulleted"></i>
                                    <span class="menu-title">Liste des administrateurs</span>
                                </h:link>
                            </li>
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/commun/TransfertCompteBancaire.xhtml" >
                                    <i class="menu-icon mdi mdi-cash-100"></i>
                                    <span class="menu-title">Transfert</span>
                                </h:link>
                            </li>
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/admin/AjoutCompteBancaire.xhtml" >
                                    <i class="menu-icon mdi mdi-account-plus"></i>
                                    <span class="menu-title">Ajout compte bancaire</span>
                                </h:link>
                            </li>
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/commun/AjoutEditPersonne.xhtml" >
                                    <i class="menu-icon mdi mdi-account-plus"></i>
                                    <span class="menu-title">Ajouter personne</span>
                                </h:link>
                            </li>
                        </c:if>
                        <c:if test="${utilisateur.hasRole('Client')}">
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/client/mesComptes.xhtml" >
                                    <i class="menu-icon mdi mdi-format-list-bulleted"></i>
                                    <span class="menu-title">Mes comptes bancaires</span>
                                </h:link>
                            </li>
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/commun/TransfertCompteBancaire.xhtml" >
                                    <i class="menu-icon mdi mdi-cash-100"></i>
                                    <span class="menu-title">Virement</span>
                                </h:link>
                            </li>
                        </c:if>
                        <c:if test="${utilisateur.hasRole('Conseiller')}">
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/conseiller/mesClients.xhtml" >
                                    <i class="menu-icon mdi mdi-format-list-bulleted"></i>
                                    <span class="menu-title">Mes clients</span>
                                </h:link>
                            </li>
                            <li class="nav-item">
                                <h:link class="nav-link" outcome="/restrict/commun/AjoutEditPersonne.xhtml" >
                                    <i class="menu-icon mdi mdi-account-plus"></i>
                                    <span class="menu-title">Ajouter personne</span>
                                </h:link>
                            </li>
                        </c:if>
                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-md-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <ui:insert name="content">Content</ui:insert>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="container-fluid clearfix">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                                ALA Valentin et TEMIN Alison
                            </span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller --> 
        <h:outputScript library="javascript" name="flat_template/off-canvas.js" />
    </h:body>

</html>
